<div class="container mt-5">

  <!-- Message Section -->
  <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ errorMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <!-- Video Thumbnails Section -->
  <!-- Shows uploaded video thumbnails and upload functionality -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="border-bottom" style="margin-bottom: 20px;">
        <h4>Video Processing and Summarization</h4>
        <p>Video summary and search use a combination of natural language processing and computer vision techniques to analyze the content of a video. It can quickly and concisely summarize the main points of a video and also allows you to search for specific moments within the video, making it easier to find relevant content.</p>
      </div>

      <div>
        <h4>Try it out</h4>
        <p>Choose a video clip to see the video retrieval and summary capabilities.</p>
      </div>

      <div class="row">

        <!-- File Upload Area -->
        <div class="col-md-2 mt-2">
          <div class="d-flex flex-column justify-content-center align-items-center rounded bg-light"
              style="height: 11rem; border: var(--bs-border-width) dashed var(--bs-border-color);"
              (dragover)="onDragOver($event)"
              (drop)="onDrop($event)">
            <i class="bi bi-cloud-arrow-up" style="font-size: 2rem;"></i>
            <div class="text-center mb-2">
              <span>Drag and drop a video</span>
              <p>or</p>
              <a href="#" (click)="fileInput.click()">Choose file</a>
            </div>
          </div>
          <input type="file" #fileInput accept="video/*" style="display: none;" (change)="onVideoUpload($event)">
        </div>

        <!-- Horizontal Scroll Area for Thumbnails -->
        <div class="col-md-10">
          <div class="d-flex flex-row flex-nowrap overflow-auto" style="scrollbar-width: thin;">
            <!-- Thumbnails Display -->
            <div *ngFor="let video of uploadedVideos" class="card m-2 card-hover-shadow"
                  style="flex: 0 0 auto; width: 15rem;"
                  [class.selected]="video.video_hash === selectedVideoHash"
                  (click)="loadVideo(video.video_hash, video.videoUrl, video.description)">
              <img [src]="video.thumbnail" class="card-img-top" alt="Video Thumbnail" style="height: 10rem; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title" [title]="video.title">{{ video.title }}</h5>
                <p class="card-text">{{ video.description }}</p>
              </div>
            </div>

            <!-- Placeholder for No Videos -->
            <div *ngIf="!uploadedVideos || uploadedVideos.length === 0" class="card mt-2" style="flex: 0 0 auto; width: 15rem; height: 11rem;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <i class="bi bi-camera-video" style="font-size: 2.5rem; padding-bottom: .5rem;"></i>
                <span>No videos to display, please upload your video to get started</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Video Upload and Display Section -->
  <div class="row mt-4">
    <div class="col-md-7">
      <div *ngIf="loading" class="mt-2 d-flex justify-content-center">
        <div class="spinner-border" role="status"></div>
      </div>

      <!-- <div class="col-md-7 mt-2" id="videoContainer"> -->
        <video *ngIf="videoUrl" controls width="100%" class="mt-2">
          <source [src]="videoUrl" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      <!-- </div> -->

      <div *ngIf="isIndexingVideo && !loading" class="mt-2 d-flex align-items-center">
        <div class="spinner-border text-secondary" role="status" style="height: 15px; width: 15px;"></div>
        <span class="ms-2 text-muted" style="font-size: 0.9em;">Indexing video...</span>
      </div>
    </div>

    <!-- Tab Section for Video Interaction -->
    <div class="col-md-5" *ngIf="videoUrl">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active"
                  [disabled]="isProcessingData"
                  id="summary-tab" data-bs-toggle="tab"
                  href="#summary" role="tab"
                  aria-controls="summary" aria-selected="true">Summary</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"
                  [disabled]="isIndexingVideo"
                  id="chat-tab" data-bs-toggle="tab"
                  href="#chat" role="tab"
                  aria-controls="chat" aria-selected="false">Chat</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
          <div *ngIf="isProcessingVideo" class="text-center mt-2">
            <div class="spinner-border text-primary" role="status"></div>
            <p class="mt-2">Processing video for summary...</p>
          </div>
          <p *ngIf="!isProcessingVideo" class="mt-2">{{ description }}</p>
        </div>

        <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
          <textarea [(ngModel)]="question" class="form-control mt-2" rows="3" placeholder="Write your question here..."></textarea>
          <div class="d-flex justify-content-end">
            <button (click)="onAskQuestion()" [disabled]="isProcessingData" class="btn btn-primary mt-2">Send</button>
          </div>

          <div *ngIf="isProcessingQuestion" class="text-center mt-2">
            <div class="spinner-border text-primary" role="status"></div>
            <p class="mt-2">Processing question...</p>
          </div>

          <div *ngIf="!isProcessingQuestion">
            <!-- Results -->
            <div *ngIf="timesList.length > 0" class="mt-3">
              <h5 class="custom-title">Results</h5>

              <div class="frame-list-container">
                <!-- List of links with icons -->
                <div *ngFor="let time of timesList; let i = index" class="mt-2 d-flex align-items-center">
                  <i class="bi bi-film" style="margin-right: 5px;"></i>
                  <a href="#" class="btn btn-link p-0 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" [class.active]="selectedIndex === i" (click)="seekToTime(time, i)">{{ time }}</a>
                </div>
              </div>

              <div *ngIf="timesList.length === 0 && sendBtnClicked">
                <p class="mt-2">No results were found.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
